{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 140,
    "quoteProps": "consistent",
    "svelteSortOrder": "options-scripts-markup-styles",
    "multilineArraysWrapThreshold": 4,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "pluginSearchDirs": false
}