@import "main.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-text font-sans;
    }
    
    button.link:not(.appearance-none), .button.link:not(.appearance-none) {
        @apply text-text underline;
    }

    button:not(.link):not(.appearance-none), .button:not(.link) {
        @apply rounded-lg bg-primary-500 px-4 py-2; 
        @apply text-text-on-primary hover:bg-primary-800 hover:text-text-on-primary-inverse;
        @apply shadow-md transition-shadow hover:shadow-lg;
    }

    button.secondary:not(.link) {
        @apply rounded-md bg-secondary-500 px-4 py-2 text-text shadow-md hover:bg-secondary-300;
    }

    @media (prefers-color-scheme: dark) {
        button:not(.link):not(.appearance-none) {
            @apply text-background;
        }
    }

    hr {
        @apply my-4 border-0 border-t border-secondary-500;
    }

    div.container {
        @apply mx-auto max-w-[95%] lg:max-w-[85%];
    }
}

@layer components {
    img.pixelated {
        image-rendering: pixelated;
    }

    input[type="checkbox"] {
        @apply h-5 w-5 appearance-none rounded-sm border-2 border-secondary-500 checked:border-transparent checked:bg-secondary-500;
        @apply checked:ring-2 checked:ring-secondary-500;
        @apply before:flex before:items-center before:justify-center;
        @apply checked:before:align-middle checked:before:text-sm checked:before:font-bold checked:before:text-text-on-primary checked:before:content-['✓'];
    }
}
